<!DOCTYPE html>

<html lang="de">

    <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="Willkommen beim Ski Club Spitzingsee e.V. - Tritt unserem Skiclub bei für aufregende Skierlebnisse.">
        <title>Ski Club Spitzingsee e.V.</title>
        <!----------------------- Google Fonts ---------------------------->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <!----------------------- FontAwesome ---------------------------->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!----------------------- Gridlex ---------------------------->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
<!----------------------- Custom Stylesheet ---------------------------->
            <link rel="stylesheet" href="/style.css">
    </head>

<body>
<!----------------------------------------------------------------------------------------------------------->
<!----------------------------------------- Header ----------------------------------------------------------->

<header>
    <nav class="navbar">
      <a href="/index.html" class="nav-branding"> 
            <h1 class="logo-text">Spitzingsee e.V.</h1>
        </a>
      
      <ul class="nav-menu">
        <li class="nav-item"><a href="/index.html" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/index.html" class="nav-link">Über Uns</a></li>
        <li class="nav-item"><a href="/kontaktformular.html" class="nav-link">Kontakt</a></li>
      </ul>
      
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      
    </nav>
  </header>

  <!----------------------------------------------------------------------------------------------------------->
<!----------------------------------------- Content Start ----------------------------------------------------------->


{{ content }}

<!----------------------------------------------------------------------------------------------------------->
<!----------------------------------------- Content End ----------------------------------------------------------->


<!----------------------------------------------------------------------------------------------------------->
<!----------------------------------------- Footer Start----------------------------------------------------------->
<footer class="grid padded-footer">


    <div class="col-4 center">
        <nav>
            <a href="/kontaktformular.html">Kontakt</a>
        </nav>
    </div>

    <div class="col-4 center">
        <nav>
            <a href="/index.html">Impressum</a>
        </nav>
    </div>

    <div class="col-4 center">
        <nav>
            <a href="/datenschutz.html">Datenschutzerklärung</a>
        </nav>
    </div>

</footer>

<!----------------------------------------------------------------------------------------------------------->
<!----------------------------------------- Footer End ----------------------------------------------------------->

<!----------------------------------------------------------------------------------------------------------->
<!----------------------------------------- Copyright Start ----------------------------------------------------------->

<div class="copyright center"> 
    <p>Copyright | ©2023 | <a href="/index.html">Skiclub Spitzingsee</a> </p>
</div>

<!----------------------------------------------------------------------------------------------------------->
<!----------------------------------------- Copyright End----------------------------------------------------------->

<!--------------------- Add jQuery -------------------->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!--------------------- Add Slick Carousel -------------------->
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

<!-------------- custom javascript files -------------->
<script src="/scripts.js"></script> 

</body>
</html>